// colors
$info-bar-background-color: #131313;
$black-color: #000000;
$white-color: #FFFFFF;
$primary-color: #00d9ec;
// $secondary-color: #1a4f7b;
$secondary-color: #003b6c;
$secondary-color-2: #012039;

$secondary-text-color: #bfbfbf;
$pseudo-element-decoration-color: #ffd838;
$bootstrap-default-text-color:   light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) ;
$light-border: rgba($secondary-text-color, 0.5);  
$light-border-primary: rgba($primary-color, 0.4);
$gold-color: #FFD700;
$blog-read-more-color:#ececec;

// margin & space
// section spacing
$section-space-xs-small: 2rem;
$section-space-small: 4rem;
$section-space-large: 6rem;
// text spacing
$text-space-xs-small: 0.5rem;
$text-space-small: 1rem;
$text-space-large: 2rem;


$container-width: 1320px;

.partial-container-right{
    max-width: calc((#{$container-width}) + (50% - (#{$container-width}/2) ));
    padding-left: 1rem;
    margin-left: auto;
}





// *{
//     outline: 1px solid red;
// }


body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
}

.row {
    --bs-gutter-x: 0;
}



h1, h2, h3, h4, ul, p, figure{
    margin: 0;
    padding: 0;
}

button{
    border: 0;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

input{
    border: 0;
    margin: 0;
    padding: 0;
    &::placeholder{
        color: $bootstrap-default-text-color;
    }
    &:focus{
        outline: none;
    }
}


select{
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    &:focus{
        outline: none; 
    }
}


.strip-style{
    width: 2rem;
    height: 2px;
    background-color: $pseudo-element-decoration-color;
}


.theme-tab-button{
    padding: 1rem;
    display: inline-flex;
    align-items: center;
}


.theme-links-button{
    padding: 0.5rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease-in-out .3s;
}


.theme-links-button-secondary-border{
    font-size: calc(0.5rem + .5vw);
    padding: 0.5rem 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease-in-out .3s;
    border: 2px solid $secondary-color;
    color: $secondary-color;

    &:hover{
        background-color: $secondary-color;
        color: $white-color;
    }
}


.theme-links-button-white-border{
    font-size: calc(0.5rem + .5vw);
    padding: 0.5rem 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: ease-in-out .3s;
    border: 2px solid $white-color;
    color: $white-color;

    &:hover{
        background-color: $white-color;
        color: $black-color;
    }
}

.link-hover{
    color: $secondary-color;
    display: block;
    font-size: calc(0.8rem + .2vw);
    font-weight: 600;
    transition: ease-in .3s;
    &:hover{
        color: $primary-color;
    }
}

.theme-custom-para{
    font-size: calc(0.8rem + .2vw);
    line-height: 2rem;
}



.theme-input-hero-section{
    background-color: $white-color;
    color: $bootstrap-default-text-color;
    padding: 1rem;
    height: 4rem;
    // height: 5rem;
    width: 100%;

}


.ora-info-awards-section-title{
    color: $secondary-color;
    font-size: calc(1rem + .2vw);
    margin-bottom: $text-space-small;
}



.custom-next-btn:after {
    content: "\e903";
    font-family: 'IcoMoon'; 
    font-size: 1.5rem;
    color: $bootstrap-default-text-color; 
    background-color: transparent;
  }

.custom-prev-btn:after {
    content: "\e902"; 
    font-family: 'IcoMoon'; 
    font-size: 1.5rem;
    color: $bootstrap-default-text-color; 
    background-color: transparent;
}






.swiper-nav-next{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100%;
    left: 95%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.swiper-nav-prev {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100%;
  left: 75%;
  transform: translate(-50%,-50%);
  z-index: 1000;
}


.packages-nav-next{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    padding-top: 5rem;
    left: 98%!important;
    transform: translate(0,-50%);
    z-index: 100;
}


.packages-nav-prev{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    padding-top: 5rem;
    left: 93%!important;
    transform: translate(0,-50%);
    z-index: 100;
}






.nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link {
    color: $secondary-color;

}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $primary-color;
    background-color: transparent;
    border: 0;
}


.nav-tabs {
    --bs-nav-tabs-border-width: 0;
}

























