@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?594z1j');
  src:  url('fonts/icomoon.eot?594z1j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?594z1j') format('truetype'),
    url('fonts/icomoon.woff?594z1j') format('woff'),
    url('fonts/icomoon.svg?594z1j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-button:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-boat:before {
  content: "\e905";
}
.icon-briefcase:before {
  content: "\e906";
}
.icon-calendar-check:before {
  content: "\e907";
}
.icon-calendar-fill:before {
  content: "\e908";
}
.icon-count-1:before {
  content: "\e909";
}
.icon-count-2:before {
  content: "\e90a";
}
.icon-count-3:before {
  content: "\e90b";
}
.icon-count-4:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-flight:before {
  content: "\e90f";
}
.icon-geo-alt:before {
  content: "\e910";
}
.icon-geo-alt-fill:before {
  content: "\e911";
}
.icon-globe:before {
  content: "\e912";
}
.icon-honey-moon-packs:before {
  content: "\e913";
}
.icon-hotels:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-key:before {
  content: "\e916";
}
.icon-key-icon:before {
  content: "\e917";
}
.icon-linkedin:before {
  content: "\e918";
}
.icon-parachute:before {
  content: "\e919";
}
.icon-passport:before {
  content: "\e91a";
}
.icon-person-circle:before {
  content: "\e91b";
}
.icon-plate-with-spoon:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-ship:before {
  content: "\e91f";
}
.icon-star-fill:before {
  content: "\e920";
}
.icon-suitcase:before {
  content: "\e921";
}
.icon-telephone:before {
  content: "\e922";
}
.icon-telephone-fill:before {
  content: "\e923";
}
.icon-tent:before {
  content: "\e924";
}
.icon-toptop:before {
  content: "\e925";
}
.icon-travel:before {
  content: "\e926";
}
.icon-twitter-x:before {
  content: "\e927";
}
.icon-umbrella:before {
  content: "\e928";
}
.icon-van:before {
  content: "\e929";
}
.icon-watch:before {
  content: "\e92a";
}
.icon-youtube:before {
  content: "\e92b";
}
