@media (max-width:992px){
    // info-bar settings
    .info-bar-inner{
        flex-direction: column;
        justify-content: center!important;
        ul{
            flex-direction: column;
            justify-content: center!important;
            li{
                margin:0;
                margin-bottom: 1rem;

            }
        }
    }
    // main-navbar settings
    .main-navbar{
        .navbar-nav{
            .nav-link{
                padding: 1.5rem 0!important;
            }
        }
    }

    // form-position
    .title{
        top: 20%;
    }
    .form{
        top: 60%;
    }
    // search-fields-placement
    .search-fields{
        ul{
            flex-direction: column;
            li{
                width: 100%;
            }
        }
    }
    .title-locations{
        padding: 2rem 0;
    }
    .swiper-nav-next{
        top: 100%;
        left: 15%;
    }
    .swiper-nav-prev {
      top: 100%;
      left: 5%;
    }

}





@media (max-width:567px){
    // locations-swiper small screen shutter settings
    .mySwiper2{
        .swiper-slide{
            .shutter{
                .destinations-link{
                    top: 50%;
                    left: 50%;
                } 
            }
        }
    }
}















